@import "bootstrap";

/* Sass Variables */

$lightGray:    #999;
$medlightGray: #eaeaea;
$Gray:         #555;
$darkGray:     #222;

/* Sass Mixin Facility */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Site-Wide Styling */

/* The overflow-y property specifies whether or not to clip the top/bottom 
edges of the content - if it overflows the element's content area. */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

/* The overflow property specifies what happens if content overflows an 
element's box. */

section {
  overflow: auto;
}

/* The resize CSS property lets you control the resizability of an element. 
The element displays a mechanism for allowing the user to resize the element, 
which may only be resized vertically. */

textarea {
  resize: vertical;
}

/* Sass Format */

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 7px;
  font-weight: bold;
  line-weight: 1;
  height: 27px;
  width: 27px;
  &:hover {
    color: #f00;
    text-decoration: none;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  border-top: 1px solid $medlightGray;
  padding-top: 5px;
  color: $lightGray;
  a {
    color: $Gray;
    &:hover {
      color: $darkGray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Debugging using Sass Mixins */

.debug_dump {
  clear: both;
  float: left;
  width: 99%;
  margin-top: 45px;
  @include box_sizing;
}

/* Sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $lightGray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px, solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: circle;
    margin: 0 0 18px 20px;
  }
}

.field_with_errors {
  @extend .control-group; /* Bootstrap */
  @extend .error;         /*  Classes  */
}